* {
  background-color: black;
  color: silver;
  font-family: "EB Garamond", serif;
  /* border: 1px solid red; */
}

body {
  padding: 8%;
  padding-top: 3%;
}

main {
  padding: 1%;
}

h1, h2 {
  font-family: "Eagle Lake", serif;
}

nav {
  float: right;
  margin-right: 10%;
}

nav li {
  list-style: none;
}

p {
  margin-block-start: .75em;
  margin-block-end: .75em;
}

.anim-logo {
  display: inline;
  float: right;
  margin-right: 10%;
}

.subtitle {
  margin-top: 5px;
}

.page-title {

}

/* home page */

.blogpost {
  width: 80%;
  height: 800px;
}

/* scenarios page */

.scen-release {
  padding: 5px 10px 20px;
}

.scen-title {
  display: flex;
  align-items: center;
}

.scen-icon {
  scale: 80%;
  padding-right: 5px;
}

.scen-desc {
  padding: 0 20px;
}

.scen-subdiv {
  padding: 2px 0;
}

.dl-scen {
  color: darkred;
}

/* graphics page */

.graphic-type {
  padding: 5px 10px 20px;
}

.graphic-sheet img {
  margin: 1px;
}

/* scripts page */

.script-type {
  padding: 5px 10px 20px;
}

/* resources page */